NEXTCLOUD_URL=https://cloud.heyvalue.com
NEXTCLOUD_USER=8202944a-6bb4-49f3-9e06-a4a5849813f2
NEXTCLOUD_APP_PASSWORD=TH6Te-d7pXo-8yTKw-xDk4f-co98P
NEXTCLOUD_BASE_PATH=AcademiaJRubio/files
UPLOAD_TOKEN=academia2024
PORT=3001
